<ion-view view-title="Account Switching" class="accounts-page">
    <div class="bar bar-header bar-positive" ng-if="pageName == 'accounts'">
        <h1 class="title">Account Switching</h1>
    </div>
    <div class="bar bar-subheader  sub-search bar-stable ">
        <div class="container item-input-inset">
            <form ng-submit="search(data.accountSearch)" class="search-form" novalidate ng-if="displaySearch">
                <label class="item-input-wrapper">
                    <i class="icon ico-search placeholder-icon positive"></i>
                    <input type="search" placeholder="Search Account" ng-model="data.accountSearch">
                </label>
                <button class="button button-positive" type="submit">
                    Search
                </button>
            </form>

            <div class="price-toggle hide-phone">
                <p>Show Rep Price? </p>
                <label class="toggle toggle-positive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
        </div>
    </div>

    <ion-content class=" has-subheader" has-bouncing="true">
        <div class="card" ng-show="accountList.length">
            <div class="list">
                <div class="list-wrapper" ng-repeat="account in accountList | orderBy:'AccountNumber' track by $index ">
                    <div class="item alphabet positive" ng-if="checkAlpha(account.AccountNumber,$index)">
                        {{account.AccountNumber[0]}}
                    </div>
                    <div class="item" ng-click="selectAccount(account)">
                        <h2>({{account.AccountNumber}}) {{account.AccountCompany}} {{char}}</h2>
                        <p ng-bind="account.BillingAddressLine1" class="stable"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" ng-show="accountList.length < 1">
            <div class="list">
                <div class="list-wrapper">
                    <div class="item">
                        <h4>Search Result not found</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="card search-msg" ng-hide="accountList">
            <div class="item item-icon-left">
                <i class="icon ion-android-arrow-up royal slideInUp"></i> Search Accounts
            </div>
        </div>
        <ion-infinite-scroll on-infinite="loadMore()" ng-if="!noMoreItemsAvailable && dReady" distance="1%" ></ion-infinite-scroll>
    </ion-content>
</ion-view>