<ion-view view-title="({{mAccount.AccountNumber}}) {{mAccount.AccountCompany}}" class="order-page dateorder-page">
    <div class="bar bar-subheader bar-stable">
        <h2 class="title">{{BeautifyDate}}</h2>
    </div>
    <ion-content class=" has-subheader full-width" has-bouncing="true">
       <form name="orderForm" novalidate>
        <div class="list" >
            <li class="item item-text-wrap" ng-repeat="order in dateorderList track by $index" ng-init="orderQty[$index] = 0" >
                <div class="item-wrapper" ng-init="showContent[$index] = false">
                        <div class="content">
                         <h3><span ng-if="order.parentTitle">{{order.parentTitle + " - " }} </span><span ng-if="order.prodTitle">{{order.prodTitle}}</span></h3>
                       
                        <div class="qty-block"><span class="qty positive">Qty : {{order.quantity}}</span> <a class="button button-small button-positive pull-right hide-tab" href="javascript:void(0)" ng-click="showContent[$index] = !showContent[$index]"><span ng-show="showContent[$index]">Less -</span><span ng-show="!showContent[$index]">More +</span></a></div>
                    <p class="meta stable" ng-show="showContent[$index]" ><span>Unit Price(Unit Cost): {{order.costPrice}} ({{order.operaCostPrice}})</span> <em>|</em><span> Stock Level: {{order.	
prodStockQty}}</span><em> |</em> <span>Current Price: TBC</span></p></div>
              
                <div class="orderform">
                    <div class="row">
                        <div class="col col-50">
                            <button class="button button-small button-outline button-positive" ng-click="orderQty[$index] = order.quantity || 1" ng-disabled="dateorderList[$index].ProdID == null">Re-Order Qty</button>    
                        </div>
                        <div class="col col-50">
                            <label class="item-input" ng-class="{'input-enabled':!canChangePrice}">
                                <i class="icon placeholder-icon positive" ng-class="{'ion-android-lock':canChangePrice,'ion-android-unlock':!canChangePrice}"></i>
                                <input type="text" value="{{order.costPrice}}" ng-disabled="canChangePrice">
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-100">
                           <ng-form name="orderFieldForm">
                            <label class="item-select no-arrow" ng-class="{'input-error': orderFieldForm.qty.$error.required  ||  orderFieldForm.qty.$error.pattern  ||  orderFieldForm.qty.$error.number}">
                                <input type="number" class="simple-input" name="qty"  placeholder="Quantity" ng-model="orderQty[$index]" placeholder="Quantity"  ng-pattern="/^[0-9]{1,4}$/" ng-disabled="dateorderList[$index].ProdID == null" required>
                                </label>
                            </ng-form>
                                
                        
                        </div>
                    </div>
                </div>
                  </div>
            </li>
        </div>
          <div class="fullbutton">
          <button  ng-click="allordertoBasket()" class="button button-positive" ng-disabled="orderForm.$invalid" > Add Re-Orders to Basket</button>
        </div>
        </form>
    </ion-content>
</ion-view>




