<ion-view view-title="({{mAccount.AccountNumber}}) {{mAccount.AccountCompany}}" class="myaccount-page">
    <ion-content  has-bouncing="true">
        <div class="card">
            <div class="list">
                <a class="item item-icon-left  item-icon-right" href="#/app/tab/myaccount/orderlist">
                    <i class="icon ico-note positive"></i> Re-Order Form
                    <i class="icon ico-rightarrow stable"></i>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="list">                
                <a class="item item-icon-left  item-icon-right" ui-sref="app.tab.detail">
                    <i class="icon ico-account balanced"></i> Account Details
                    <i class="icon ico-rightarrow stable"></i>
                </a>
                <a class="item item-icon-left  item-icon-right"  ui-sref="app.tab.invoice">
                    <i class="icon ico-home balanced"></i> Invoice Address
                    <i class="icon ico-rightarrow stable"></i>
                </a>
                <a class="item item-icon-left  item-icon-right"  ui-sref="app.tab.delivery">
                    <i class="icon ico-delivery balanced"></i> Delivery Address(es)
                    <i class="icon ico-rightarrow stable"></i>
                </a>
            </div>
        </div>
    
    <div class="card">
        <div class="list">
            <a class="item item-icon-left  item-icon-right" href="#/login">
                <i class="icon ion-log-out assertive"></i> Logout <i class="icon ico-rightarrow stable"></i>
            </a>
            <a class="item item-icon-left  item-icon-right" href="#/sync">
                <i class="icon ion-android-sync assertive"></i> Go to Sync Page <i class="icon ico-rightarrow stable"></i>
            </a>
        </div>
        
    </div>
    </ion-content>

 

</ion-view>
