<ion-view view-title="({{mAccount.AccountNumber}}) {{mAccount.AccountCompany}}" class="order-page ">
    <div class="tabs-top order-tabs">
        <div class="tabs">
            <a class="tab-item  button  " ng-click="bydate=true;byproduct=false" ng-class="{'active':bydate}">By Date</a>
            <a class="tab-item button " ng-click="bydate=false;byproduct=true" ng-class="{'active':byproduct}">By Product</a>
        </div>
    </div>

    <ion-content class=" has-subheader full-width" has-bouncing="true" ng-show="bydate">
        <div class="list">
            <div class="item item-option">
                <label class="item-select arrow-positive">
                    <div class="input-label">
                        Orders placed in
                    </div>
                    <select>
                        <option>All </option>
                        <option>Green</option>
                        <option>Red</option>
                    </select>
                </label>
            </div>
            
            <li class="item date-item" ng-repeat="order in orderhList  | orderBy:'orderHistoryDate':true track by $index" ng-if="checkDate(order.orderHistoryDate,$index)" ng-show="orderhList.length > 0">
                <a class="button button-positive button-small pull-right" ng-href="#/app/tab/orderlist/{{order.orderHistoryDate}}"> <i class="ico-eye icon-big"></i></a>
                <i class="item-icon ico-calendar"></i> <span class="date-title" ng-bind="makeDate(order.orderHistoryDate)">12 November 2015</span>
            </li>


            <li class="item item-text-wrap" ng-show="orderhList.length < 1">
                Order History not available
            </li>
        

        </div>
        
        
  
   
    </ion-content>
    <ion-content class=" has-subheader full-width byproduct" has-bouncing="true" ng-show="byproduct">
        <div class="list">
            <div class="item item-option">
               <form ng-submit="searchOrder(searchData)" class="search-form"  novalidate >
                <label class="item-input-wrapper">
                    <input type="search" placeholder="Search By Product" ng-model="searchData" name="searchdata">
                </label>
                <button class="button button-positive" type="submit"><i class="icon ico-search"></i></button>
                </form>
            </div>

            <div class="order-wrapper" ng-repeat="order in searchorderList track by $index" ng-show="searchorderList.length > 0">
                <li class="item date-item" ng-if="checkDate(order.orderHistoryDate,$index)">
                    <a class="button button-positive button-small pull-right" ng-href="#/app/tab/orderlist/{{order.orderHistoryDate}}"> <i class="ico-eye icon-big"></i></a>
                    <i class="item-icon ico-calendar"></i> <span class="date-title" ng-bind="makeDate(order.orderHistoryDate)">12 November 2015</span>
                </li>
                <li class="item item-text-wrap">
                    <div class="item-wrapper">
 <div class="content">
                        <h3><span ng-if="order.parentTitle">{{order.parentTitle + " - " }} </span><span ng-if="order.prodTitle">{{order.prodTitle}}</span></h3>
                       
                            <span class="qty positive">Qty : {{order.quantity}}</span>
                           
                    </div>
                    </div>
                </li>
            </div>

            <li class="item item-text-wrap" ng-show="searchorderList.length < 1">
                Order History not available
            </li>



        </div>
    </ion-content>
</ion-view>