<ion-view view-title="({{mAccount.AccountNumber}}) {{mAccount.AccountCompany}}" class="order-page ">
    <div class="tabs-top order-tabs">
        <div class="tabs">
            <a class="tab-item  button  " ng-click="bydate=true;byproduct=false" ng-class="{'active':bydate}">By Date</a>
            <a class="tab-item button " ng-click="bydate=false;byproduct=true" ng-class="{'active':byproduct}">By Product</a>
        </div>
    </div>

    <ion-content class=" has-subheader full-width" has-bouncing="true" ng-show="bydate">
        <div class="list">
            <div class="item item-option">
                <label class="item-select arrow-positive">
                    <div class="input-label">
                        Orders placed in
                    </div>
                    <select ng-model="data.monthfilter" ng-change="filterbyMonth(data.monthfilter)">
                        <option value="72">All</option>
                        <option value="1">Last 30 days</option>
                        <option value="3">Last 3 months</option>
                        <option value="6">Last 6 months</option>
                        <option value="{{makeYear(1)}}">{{makeYear(1)}}</option>
                        <option value="{{makeYear(2)}}">{{makeYear(2)}}</option>
                    </select>
                </label>
            </div>

            <li class="item date-item" ng-repeat="order in orderhList" ng-show="orderhList.length > 0">
                <a class="button button-positive button-small pull-right" ng-href="#/app/tab/orderlist/{{order.histDate}}"> <i class="ico-eye icon-big"></i></a>
                <i class="item-icon ico-calendar"></i> <span class="date-title" ng-bind="makeDate(order.histDate)">12 November 2015</span>
            </li>


            <li class="item item-text-wrap" ng-show="orderhList.length < 1">
                Order History not available
            </li>


        </div>


        <ion-infinite-scroll on-infinite="loadMoreOrderDate()" ng-show="orderhList.length < orderhListLength" distance="1%" ></ion-infinite-scroll>

    </ion-content>
    <ion-content class=" has-subheader full-width byproduct" has-bouncing="true" ng-show="byproduct">
        <div class="list">
            <div class="item item-option">
                <form ng-submit="searchOrder(data.searchData)" class="search-form" novalidate>
                    <label class="item-input-wrapper">
                        <input type="search" placeholder="Search By Product" ng-model="data.searchData" name="searchdata" ng-disabled="orderhList.length < 1">
                        <a ng-if="data.searchData.length" on-tap="clearSearch()"
                            class="closebtn button button-small button-clear ion-android-close">
                        </a>
                    </label>
                    <button class="button button-positive" type="submit"><i class="icon ico-search" ng-disabled="orderhList.length < 1"></i></button>
                </form>
            </div>

            <div class="order-wrapper" ng-repeat="order in searchorderList track by $index" ng-show="searchorderList.length > 0">
                <li class="item date-item" >
                    <a class="button button-positive button-small pull-right" ng-href="#/app/tab/orderlist/{{order.date}}"> <i class="ico-eye icon-big"></i></a>
                    <i class="item-icon ico-calendar"></i> <span class="date-title" >{{makeDate(order.date)}}</span>
                </li>
                <li class="item item-text-wrap" ng-repeat="proOrder in searchorderList[$index].order">
                    <div class="item-wrapper">
                        <div class="content">
                            <h3><span ng-if="proOrder.parentTitle">{{proOrder.parentTitle + " - " }} </span><span ng-if="proOrder.prodTitle">{{proOrder.prodTitle}}</span></h3>
                            <span class="qty positive">Qty : {{proOrder.quantity}}</span>
                        </div>
                    </div>
                </li>
            </div>

            <li class="item item-text-wrap" ng-show="searchorderList.length < 1">
                Order history not available
            </li>

            <div class="card search-msg" ng-hide="searchorderList">
                <div class="item item-icon-left">
                    <i class="icon ion-android-arrow-up royal slideInUp"></i> Search order history
                </div>
            </div>
        </div>
        <ion-infinite-scroll on-infinite="loadMoreOrder(data.searchData)" ng-if="searchorderList.length < searchorderLength" distance="1%" ></ion-infinite-scroll>
    </ion-content>
</ion-view>