<ion-view view-title="({{mAccount.AccountNumber}}) {{mAccount.AccountCompany}}" class="productlist-page ">
   
      
    <div class="bar bar-subheader bar-stable">
        <h2 class="title pull-left" > <span>{{productTitle}} ({{categoryProduct.length || 0}})</span></h2>
        <div class="sort pull-right">
            <label class="item-select">
                   <select ng-model="sortby" >
                    <option value="ProdTitle"  selected>Title:A-Z</option>
                    <option value="-ProdTitle">Title:Z-A</option>
                    <option value="PriceIncVat">Price:Low-High</option>
                    <option value="-PriceIncVat">Price:High-Low</option>
                </select>
            </label>
        </div>
    </div>

    <ion-content class="has-subheader  full-width" has-bouncing="true">
      
       <div class="productlist">
        <ion-list>
          <ion-item class="item" >
                <div class="container">
                    <div class="id"><strong>ID</strong></div>
                    <div class="title" ><strong>Name</strong></div>
                    <div class="price-block"><strong>Price</strong></div>
                </div>
             </ion-item>
          
           <ion-item class="item" ng-repeat="productlist in categoryProduct | orderBy:sortby" ng-href="#/app/tab/product/{{productlist.ProdID}}">
                <div class="container">
                    <div class="id" ng-bind="productlist.ProdID"></div>
                    <div class="title" ng-bind="productlist.ProdTitle">Lifeline Lamb and Ewe Lick 22.5 kg</div>
                    <div class="price-block">
                        <div class="errmsg assertive" ng-if="!productlist.PriceIncVat"> price is unavailable</div>
                          <div class="price" ng-if="productlist.PriceExVat"><span class="positive" ng-bind="productlist.PriceExVat | currency:'£'"></span><em> ex VAT</em></div>
                        <div class="price" ng-if="productlist.PriceIncVat"><span class="positive"  ng-bind="productlist.PriceIncVat | currency:'£'"></span><em> inc VAT</em></div>
                    </div>
                </div>
             </ion-item>
             <ion-item ng-if="categoryProduct.length < 1" class="nodata">
                 <div class="container"> <h3>No product available</h3></div>
             </ion-item>
           </ion-list>
        </div>
    </ion-content>
</ion-view>
