<ion-view view-title="Search Product" class="accounts-page">
    <div class="bar bar-subheader  sub-search bar-stable ">
        <div class="container item-input-inset">
            <form ng-submit="searchProduct(productSearch)" class="search-form" novalidate>
                <label class="item-input-wrapper">
                    <i class="icon ico-search placeholder-icon positive"></i>
                    <input type="search" placeholder="Search Product" ng-model="productSearch">
                </label>
                <button class="button button-positive" type="submit">
                    Search
                </button>
            </form>
            <div class="price-toggle hide-phone">
                <p>Show Rep Price? </p>
                <label class="toggle toggle-positive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>

            </div>
        </div>
    </div>
    <ion-content class=" has-subheader" has-bouncing="true" ng-init="t='0';">


        <!--Test Area-->

        <div class="card search-msg" ng-hide="searchproductList">
            <div class="item item-icon-left">
                <i class="icon ion-android-arrow-up royal slideInUp"></i> Search Products
            </div>
        </div> 
        <!--END-->
        <div class="card" ng-hide="searchproductList">
            <div class="item">
                <h2>Recent Search</h2>
            </div>
          <div class="item item-divider" ng-click="searchProduct(serachWordL.word)" ng-repeat="serachWordL in searchWordList">
              {{serachWordL.word}}
          </div>
          
        </div>

        <div class="productlist">
            <ion-list>
               <ion-item class="item" ng-show="searchproductList.length > 1" >
                <div class="container">
                    <div class="id"><strong>ID</strong></div>
                    <div class="title" ><strong>Name</strong></div>
                    <div class="price-block"><strong>Price</strong></div>
                </div>
             </ion-item>
                <ion-item class="item" ng-repeat="productlist in searchproductList" ng-href="#/app/tab/product/{{productlist.ProdID}}">
                    <div class="container">
                        <div class="id" ng-bind="productlist.ProdID"></div>
                        <div class="title" ng-bind="productlist.ProdTitle">Lifeline Lamb and Ewe Lick 22.5 kg</div>
                        <div class="price-block">
                            <div class="errmsg assertive" ng-if="!productlist.PriceExVat && !productlist.PriceIncVat "> price is unavailable</div>
                            <div class="price" ng-if="productlist.PriceExVat"><span class="positive" ng-bind="productlist.PriceExVat | currency:'£'"></span><em> ex VAT</em></div>
                            <div class="price" ng-if="productlist.PriceIncVat"><span class="positive" ng-bind="productlist.PriceIncVat | currency:'£'"></span><em> inc VAT</em></div>
                        </div>
                    </div>
                </ion-item>
                <ion-item class="item" ng-show="searchproductList.length < 1">
                    <h4>Search Result not found</h4>
                </ion-item>
            </ion-list>

            
        </div>
    </ion-content>
</ion-view>