<ion-view view-title="(BC15)Mr Brooke" class="login-page">
    <ion-content has-bouncing="false" >
       <div class="sync-block">
         <div class="logo"><img src="img/logo.png"></div>
         <div class="list list-inset padding">
            <div class="item item-icon-left " ng-repeat="list in syncObj">
              <i class="icon ion-android-sync " ng-class="{'spin':list.sync == true}" ng-hide="list.sync == 'done'"></i><i class="icon ion-checkmark-circled" ng-show="list.sync == 'done'"></i> {{list.title}}
            </div>
            
        </div>
        <button class="button button-calm" ng-click="goBack()" ng-show="innerSync == true">Back</button>
        <button class="button button-calm" ng-click="handleClick()" ng-hide="syncObj[syncObj.length-1].sync == 'done'" ng-disabled="syncButton">Sync Data</button>
        <!--<button class="button button-calm" ng-click="gotoLogin()">Go to login page</button>-->
        <button class="button button-calm" ng-show="syncObj[syncObj.length-1].sync == 'done' && innerSync == false" ng-click="gotoLogin()">Go to login page</button>
        
        
        
        <button class="button button-calm" ng-show="syncObj[syncObj.length-1].sync == 'done' && innerSync == true" ng-click="gotoAccount()">Go to Account page</button>

        </div>
    </ion-content>
</ion-view>
