    
<ion-tabs class="tabs-icon-left  footer-tab ">
    
  <!-- Dashboard Tab -->
  <ion-tab title="My Basket" badge="basketBadge"  icon="ico-basket"  href="#/app/tab/basket">
    <ion-nav-view name="tab-basket" ></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Search Products" icon="ico-search" href="#/app/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="My Account" icon="ico-account" href="#/app/tab/myaccount">
    <ion-nav-view name="tab-myaccount"></ion-nav-view>
  </ion-tab>
    
    <!-- Account Tab -->
  <ion-tab title="Account Switching" icon="ico-accounts" href="#/app/tab/accounts">
    <ion-nav-view name="tab-accounts"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Version" icon="ico-accounts" href="#/app/tab/version" hidden="true">
    <ion-nav-view name="tab-version"></ion-nav-view>
  </ion-tab>  


</ion-tabs>
